/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

* {
  box-sizing: border-box;
}

/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* APP */

body {
  min-width: 700px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "lucida grande", sans-serif;
  padding-top: 18px;
  padding-bottom: 100px;
}

header h1 {
  font-size: 30px;
  height: 130px;
  text-indent: 100%;
  background: url(../images/logo.png) no-repeat center;
  overflow: hidden;
}

.album-list {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
}

.album-list .album {
  margin: 10px;
  -webkit-flex-grow: 1;
}

.album-list .album img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.album-list .album p {
  font-size: 12px;
  color: #89949b;
  margin: 5px 0;
}

.album-list .album .album-name {
  color: #4b5c66;
}

.album-list .album .explicit {
  font-size: 10px;
  color: #cc4747;
  text-transform: uppercase;
  margin-left: 12px;
}

.album-info {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.album-info img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px;
}

.album-info h1 {
  font-size: 24px;
  font-weight: normal;
  color: #4b5c66;
  margin-bottom: 8px;
}

.album-info h2 {
  font-size: 20px;
  font-weight: normal;
  color: #89949b;
}

.album-listing {
  margin: 0 auto;
  width: 100%;
  margin-top: 18px;
}

.album-listing tr {
  border-top: 1px solid #e1e6e9;
  border-bottom: 1px solid #e1e6e9;
}

.album-listing td {
  font-size: 12px;
  width: 1px;
  padding: 8px;
}

.album-listing td.song-track {
  min-width: 30px;
}

.album-listing tr.is-playing {
  background-color: #FCFBBB;
}

.album-listing td:first-child {
  color: #89949b;
  text-align: center;
  width: 25px;
}

.album-listing td:nth-child(2) {
  color: #4b5c66;
  width: auto;
}

.album-listing tr td.song-track .play {
  display: none;
}

.album-listing tr:hover td.song-track .play {
  display: block;
  cursor: pointer;
}

.album-listing tr td.song-track .track-number {
  display: block;
}

.album-listing tr:hover td.song-track .track-number {
  display: none;
}

footer.now-playing {
  position: fixed;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.95);
  border-top: 1px solid #ccc;
  box-shadow: rgba(50,50,50,0.05) 0 -3px 5px;
  padding: 15px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

footer.now-playing .now-playing-name {
  color: #4b5c66;
}

footer.now-playing .now-playing-artist {
  color: #aaa;
}

footer.now-playing .now-playing-artwork {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

footer.now-playing .now-playing-body {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  width: 100%;
}

footer.now-playing .now-playing-empty {
  -webkit-align-self: center;
  -webkit-flex-grow: 1;
}

p.now-playing-player {
  margin-top: 10px;
}

div.audio-control {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  height: 25px;
}

div.audio-control button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  width: 30px;
  padding: 0;
  margin: 0;
  color: #666;
}

div.audio-control p.duration {
  font-size: 11px;
  width: 60px;
  color: #999;
  margin-left: 10px;
}

div.audio-control input[type=range] {
  -webkit-flex-grow: 1;
  position: relative;
  top: 1px;
}

#queue {
  position: absolute;
  top: 150px;
  right: 150px;
  bottom: 150px;
  left: 150px;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
}

.show-queue {
  width: 100px;
}
